[run]
branch = True

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    pass
    raise ImportError
    raise ValueError
    raise Exception
    except:
    except Exception:
    except:  # noqa
    except Exception:  # noqa

[html]
directory = htmlcov
title = Test Coverage Report
